.bannerTop {
    width: 90%;
    height: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannerTop a,
.bannerTopVentas p,
.bannerTopVentas a span {
    color: #ffffff;
}
.bannerTopVentas {
    display: flex;
}
.bannerTopVentas p {
    font-weight: bolder;
}
.bannerTopVentas a {
    display: flex;
    align-items: center;
}
.bannerTopVentas a span {
    margin: 0 6px;
}
